*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

header{

}

.top_header{
    padding: 15px 0px;
}

.header_info{
    display: flex;
    justify-content: end;
}

.info_item{
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.icon{
    font-size: 40px;
    color: #f5946c;
    margin-right: 10px;
}

.info{
}
.info h4{
    font-size: 18px;
    font-weight: bold;
    
}
.info p{
    font-size: 14px;
}

.main_header{
    background: #00cce1;
}

.navbar{
    padding: 0;
}

.btn_appoint{
    padding: 0;
    padding: 15px 30px;
    background: #f69165;
    color: #FFFFFF;
    border-radius: 0;
    text-transform: uppercase;
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
}
.btn_appoint:hover{
    background: #f69165;
    color: #ffffff;
}
.btn_appoint i{
    margin-right: 6px;
}

.nav-item{

}

.nav-link{
    color: #ffffff;
    padding: 15px;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
}
.nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #f69165;
    transition: .4s all ease-in-out;
    z-index: -1;
}
.nav-link:hover::before{
    height: 100%;
}
.nav-link:hover{
    color: #FFFFFF;
}

.banner{
    background-image: url(../images/banner_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;  
}
.banner h2{
    background: #64c9e1;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 25px;
    padding: 5px 10px;
    display: inline-block;
}.banner h1{
    background: #e59871;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 35px;
    padding: 5px 10px;
    margin: 15px 0;
    display: inline-block;
}.banner p{
    
}

.height{
    min-height: 80vh;
    align-items: center;
}

.banner_img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 51%;    
}

.item_two{
    width: 36%;
    right: 8%;
}

.btn_learn{
    background: #e59871;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 0;
    margin-top: 20px;
}

.btn_book{
    background: #64c9e1;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 0;
    margin-top: 20px;
}

.banner_carousel{
    position: static;
} 
.banner_carousel .owl-dots{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
}
.banner_carousel .owl-dots .owl-dot{
    margin: 3px;
}
.banner_carousel .owl-dots .owl-dot span{
    display: block;
    height: 12px;
    width: 12px;
    background: #c7ccd0;
    border-radius: 50%;
}

.banner_carousel .owl-dots .active span{
    background: #f69165;
}

.banner_carousel .owl-nav{

}

.banner_carousel .owl-nav .owl-prev, .brand_carousel .owl-nav .owl-prev{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.banner_carousel .owl-nav .owl-next, .brand_carousel .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    right: 0;    
    transform: translateY(-50%);
}

.banner_carousel .owl-nav .owl-prev span, .brand_carousel .owl-nav .owl-prev span{
    display: block;
    height: 30px;
    width: 28px;
    background: #64c9e1;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 22px;
}

.banner_carousel .owl-nav .owl-next span, .brand_carousel .owl-nav .owl-next span{
    display: block;
    height: 30px;
    width: 28px;
    background: #e59871;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 22px;
}

/* Welcome Section */

.welcome_section{
    padding: 80px 0px;
    position: relative;
}

.welcome_section .welcome_img{
    position: absolute;
    bottom: 0;
    left: 46px;
    width: 43%;
}

.welcome_section .section_title{
    padding: 10px 0px;
    text-align: left;
}
.welcome_section .section_title h2{
    font-size: 28px;
    color: #000000;
}
.welcome_section .section_title p{
    color: #707070;
    margin-bottom: 35px;
}

.features_list{
    margin-bottom: 35px;
}
.features_list h5{
    font-size: 18px;
    color: #000000;
    margin: 10px 0px;
}
.features_list p{
    color: #707070;
}

.features_list .tooth_img{

}
.features_list .tooth_img img{
    width: 30px;
}

/* Doctors Section */

.doctors_section{
    background: #f9f9f9;    
    padding: 100px 0px;
}

.doctors_section .section_title h2{
    font-size: 28px;
    color: #000000;
}
.doctors_section .section_title p{
    color: #707070;
    margin-bottom: 35px;
}

.doctors_profile{

}
.doctors_profile .doctors_profile_box{
    border-bottom: 3px solid #00cce1;
    text-align: center;
}
.doctors_profile{
    padding-top: 30px;
}
.doctors_profile .doctor_img img{

}

.img_cover{
    position: relative;
    overflow: hidden;    
}
.img_cover::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;    
    background-color: #454545;
    opacity: .5;
    transition: .5s all ease-in-out; 
}
.img_cover::after{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0%;
    height: 100%;    
    background-color: #454545;
    opacity: .5;
    transition: .5s all ease-in-out; 
}
.img_cover:hover::before{
    width: 50%;
}
.img_cover:hover::after{
    width: 50%;
}

.img_cover{
    display: block;
    width: 100%;
}

.icon_list{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 0;
    transition: .5s all ease-in-out;
    z-index: 99;
}
.img_cover:hover .icon_list{
    opacity: 1;
    top: 50%;
}

.zoom_link{
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px 5px;
}
.zoom_link a{
    color: #fff;
}

.zoom_link:hover{
    background: #f69165;
    color: #fff;
}

.zoom_link:hover .doctor_detail h6{
    background: #f69165;
}

.zoom_link:hover .doctors_profile_box{
    border-bottom: 3px solid #f69165;
}

.doctors_profile .doctor_detail{
    padding: 20px 0px;
}
.doctors_profile .doctor_detail h6{

}
.doctors_profile .doctor_detail p{

}

/* Services Section */

.services_section{
    padding: 100px 0px;
}

.services_section .section_title h2{
    font-size: 28px;
    color: #000000;
}
.services_section .section_title p{
    color: #707070;
    margin-bottom: 35px;
}

.services_profile{
    margin-bottom: 20px;
}

.services_profile_box{
    padding: 20px;
    border: 3px solid #ebebeb;

}
.services_profile_box p{
    margin: 10px 0px;

}
.services_profile_box:hover{
    border: 3px solid #f69165;
}
.services_profile_box:hover .box-heading h6{
    color: #f69165;
}
.services_profile_box:hover .read_more a{
    color: #f69165;
}


.box-heading{
    height: 30px;
    display: flex;
    align-items: center;
}
.box-heading h6{
    
}

.service_icon{
    margin-right: 15px;
}
.service_icon img{
    width: 30px;

}

.read_more{

}
.read_more a{
    
}





/* Brand Section */

.brand_section{
    background-image: url(/images/brand_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
    position: relative;
    z-index: 0;
}
.brand_section::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #323333;
    opacity: .7;
    z-index: -1;
}

.section_title{
    padding: 0 250px;
    text-align: center;
    color: #FFFFFF;
}
.section_title h2{
    margin-bottom: 5px;
}
.section_title p{
    margin-top: 10px;
}

.brand_carousel{
    padding: 0px 10px;
    margin: 50px 0px 30px ;
    position: relative;
}
.brand_carousel .owl-stage{
    display: flex;
    align-items: center;
}
.brand_carousel .brand_img{

}
.brand_carousel .brand_img img{
    width: 100px !important;
    margin: auto;
}
.brand_carousel .logo_three img{
    width: 80px !important;
}
.brand_carousel .logo_five img{
    width: 70px !important;
}
.brand_carousel .owl-nav{
    display: block !important;
}






/*
.banner_carousel{
    position: static;
} 
.banner_carousel .owl-dots{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);    
    text-align: center;
}
.banner_carousel .owl-dots .owl-dot{
    margin: 3px;
}
.banner_carousel .owl-dots .owl-dot span{
    display: block;
    height: 10px;
    width: 10px;
    background: #c7ccd0;
    border-radius: 50%;
}

.banner_carousel .owl-dots .active span{
    background: #f69165;
}

.banner_carousel .owl-nav{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.banner_carousel .owl-nav .owl-prev{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.banner_carousel .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    right: 0;    
    transform: translateY(-50%);
}

.banner_carousel .owl-nav .owl-prev span{
    display: block;
    height: 30px;
    width: 28px;
    background: #64c9e1;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 22px;
}

.banner_carousel .owl-nav .owl-next span{
    display: block;
    height: 30px;
    width: 28px;
    background: #e59871;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 22px;
}
*/
